body {
  color: #D3D3D3;
  font-family: serif;
  line-height: 1.3;
  font-size: 160%;
  background-color: #030303;
}

a {color: #D3D3D3;}
a:link {text-decoration: underline;}
a:hover {text-decoration: underline; color: #56ff4a;}

.sidenav {
  height: 90%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a:hover {
  color: #56ff4a;
}

.sidenav a, .dropdown-btn {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 26px;
  font-family: serif;
  color: #D3D3D3;
  display: inline;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  padding-left: 0px;
}

.sidenav_b {
  padding: 6px 6px 6px 32px;
  height: 6%;
  width: 300px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.sidenav_b a:hover {
  color: #56ff4a;
}

.sidenav_b a {
  text-decoration: none;
  display: inline;
}

.sidenav span {
  color: #56ff4a;
}

.sidenav_b span {
  color: #56ff4a;
}

.main {
  margin-left: 420px; margin-right: 32px
}

.main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 20px 0px #a1a1a1;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
