body {
  font-family: sans-serif;
  line-height: 1.3;
  font-size: 30px;
  font-weight: 100;
}

a {color: black;}
a:link {text-decoration: underline;}
a:hover {color: blue; cursor: pointer;}

.sidenav {
  float:left;
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: visible;
  padding-top: 20px;
  border-right: 2px solid black;
}

.sidenav a:hover, .sidenav a span, .dropdown-btn:hover, .button:hover {color: blue;}

.dropdown-btn {color: black;}

.sidenav a, .dropdown-btn {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  display: inline;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn {
  padding: 2px 0px 0px 32px;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 100;
}

.dropdown-container {
  display: none;
  padding-left: 20px;
  padding-bottom: 5px;
}

.sidenav_b, .sidenav_c {
  height: 75px;
  line-height: 75px;
  width: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  display: inline-block;
  text-align: center;
  border-top: 2px solid black;
}

.sidenav_c {
  margin-left: 200px;
  border-left: 2px solid black;
}

.sidenav_b a, .sidenav_c a {text-decoration: none;}

.sidenav_c a {font-size: 36px;}

.main {
  float:left;
  margin-left: 450px; margin-right: 32px
}

.main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------------------------------------------------------------------------------*/

a.btn-toggle {font-family: arial;}

.dark-mode {background-color: black; color: white;}

.dark-mode a, .dark-mode .button, .dark-mode .sidenav a, .dark-mode .dropdown-btn {color: white;}

.dark-mode .sidenav a:hover, .dark-mode .sidenav span, .dark-mode .dropdown-btn:hover {color: #23FE1E;}

.dark-mode a:hover, .button:hover {color: #23FE1E; cursor: pointer;}

.dark-mode .sidenav, .dark-mode .sidenav_b {border-right: 2px solid white;}

.dark-mode .sidenav_b, .dark-mode .sidenav_c {border-top: 2px solid white;} .dark-mode .sidenav_c {border-left: 2px solid white;}

.button {display: inline; cursor: pointer;}

/*----------------------------------------------------------------------------------------------------*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 16px;
  visibility: hidden;
  width: 280px;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: left;
  padding: 12px 16px 12px 16px;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 80%;
}
  

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  color: blue;
  cursor: help;
}

.dark-mode .tooltip:hover {
  color: #23FE1E;
  cursor: help;
}

.dark-mode a:hover .tooltiptext {
  color: white;
  cursor: help;
}

.dark-mode a:hover span{
  color: #23FE1E;
  cursor: pointer;
}

.dark-mode .tooltip .tooltiptext {
  background-color: black;
  border: 1px solid white;
}

/*----------------------------------------------------------------------------------------------------*/

dfn, dfn2 {
  position: relative;
  display: inline-block;
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-style: normal;
}

dfn > .dfn-tooltip, dfn2 > .dfn2-tooltip {display: none;}

dfn:hover, dfn2:hover {color: blue;}

dfn:hover > .dfn-tooltip, dfn2:hover > .dfn2-tooltip {
  display: block;
  position: absolute;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 100;
  text-align: left;
  z-index: 1;
}

dfn:hover > .dfn-tooltip {
  background: none;
  border: none;
  right: 110%;
  top: 110%;
}

dfn2:hover > .dfn2-tooltip {
  background: white;
  padding: 12px 16px 12px 16px;
  top: 102%; right: 20%;
  min-width: 280px;
}

.dfn-tooltip img {
  max-width: 400px;
  background: none;
}

dfn2:hover > .dfn2-tooltip, .dfn-tooltip img {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 255, 0.6);
  border: 1px solid blue;
}

.dark-mode dfn:hover, .dark-mode dfn2:hover {color: #23FE1E;}

.dark-mode dfn:hover > .dfn-tooltip, .dark-mode dfn2:hover > .dfn2-tooltip {
  color: white;
  background-color: black;
}

.dark-mode dfn2:hover > .dfn2-tooltip, .dark-mode .dfn-tooltip img {
  box-shadow: 0px 10px 20px 0px rgba(35, 254, 30, 0.6);
  border: 1px solid #23FE1E;
}

/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width:1200px) {
  body  {font-size: 24px}
  .sidenav {width:320px;} .sidenav_b {width:160px;} .sidenav_c {width:160px; margin-left: 160px;}
  .main {margin-left: 360px;}
  .sidenav_c a {font-size: 28px;}

@media screen and (max-width:800px) {
  body  {font-size: 20px}

  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    padding-bottom: 6px}

  .sidenav_b, .sidenav_c {
    line-height: normal;
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
    border-top: none;}

  .sidenav_b {padding: 24px 0px 10px 32px;}
  .sidenav_b a {padding: 10px; border: 1px solid black;}
  .sidenav_c {margin: 0; border-left: none; padding: 8px 0px 15px 32px;} 
  .sidenav_c a {padding: 5px 17.5px; border: 1px solid black;}
  .sidenav_b a:hover, .sidenav_c a:hover {border: 1px solid blue;}
  
  .main {
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 64px;}

  .dark-mode .sidenav {border-right: none;}
  .dark-mode .sidenav_b, .dark-mode .sidenav_c {border-top: none; border-left: none;}
  .dark-mode .sidenav_b a {padding: 10px; border: 1px solid white;}
  .dark-mode .sidenav_c a {padding: 5px 17.5px; border: 1px solid white;}
  .dark-mode .sidenav_b a:hover, .dark-mode .sidenav_c a:hover {border: 1px solid #23FE1E;}

  dfn {text-decoration: none; cursor: auto;}
  dfn:hover {color: black;}
  dfn:hover > .dfn-tooltip {display: none; cursor: auto;}
  dfn2 {text-decoration: none; cursor: auto;}
  dfn2:hover {color: black;}
  dfn2:hover > .dfn2-tooltip {display: none; cursor: auto;}
  .dark-mode dfn2:hover {color: white;}
}
